.footer {
	padding-top: 48px;
	background-color: #111;
	color: #fff;
}

.footer__top__wrapper {
	display: flex;
	padding-bottom: 48px;
}

.footer__topCol {
	padding-right: 15px;
	width: 20%;
}

.footer__topColTitle {
	color: #666;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
}

.footer__topColItems {
	padding: 0;
	list-style-type: none;
}

.footer__topColItem-link {
	font-size: 14px;
	line-height: 21px;
}

.footer__bottom {
	border-top: 1px solid #222;
}

.footer__bottomWrapper {
	display: flex;
	justify-content: space-between;
	padding: 18px 0 48px 0;
}

.footer__bottomLeft {
	padding-right: 15px;
	width: 80%;
}

.footer__bottomLeftLanguages {
	display: flex;
	padding: 0;
	list-style-type: none;
}

.footer__bottomLeftLanguageItem-link {
	font-size: 14px;
	line-height: 21px;
}

.footer__bottomLeftLanguageItem {
	color: #666;
	margin-right: 10px;
}

.activeElement {
	color: #fff;
	font-size: 14px;
	line-height: 21px;
}

.footer__bottomLeftTimezone {
	color: #666;
	margin-top: 6px;
}

.footer__bottomLeftTag {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}

.footer__bottomRight {
	font-size: 12px;
	line-height: 21px;
	text-align: right;
}