.content__artistItem {
	width: 170px;
	height: 224px;
	margin-top: 24px;
}

.content__artistItemLogo {
	border-radius: 50%;
	height: 170px;
	width: 170px;
}

.content__artistItemTitle {
	margin-top: 12px;
}

.item-title {
	font-size: 14px;
	font-weight: 800;
}
